@import './_color-variables.scss';
@import './_mixins.scss';

.landingpage {
  .introduction {
    margin: 0 auto;
    padding-top: 260px;

    @include tablet {
      padding-top: 160px;
    }

    &__sub-text {
      font-weight: 400;
      font-size: 28px;
      text-align: center;
      color: $title;
      max-width: 744px;
      margin: 0 auto;

      @include tablet {
        font-size: 24px;
      }
    }

    &__main-text {
      font-weight: 400;
      font-size: 80px;
      line-height: 120%;
      text-align: center;
      color: $title;
      max-width: 940px;
      margin: 0 auto;
      margin-top: 8px;
      font-family: 'Spline Sans Mono', sans-serif;

      span {
        color: $link;
      }

      @include tablet {
        font-size: 48px;
      }
    }

    &__description {
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
      text-align: center;
      color: $title;
      max-width: 744px;
      margin: 60px auto;

      @include tablet {
        font-size: 20px;
        margin: 40px auto;
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
  }

  .image-main {
    margin: 160px 0 180px;

    img {
      margin: 0 auto;
    }

    @include tablet {
      margin: 80px 0 120px;
    }
  }

  .categories {
    max-width: 792px;
    margin: 0 auto;

    .category {
      display: flex;
      justify-content: space-between;
      margin: 60px 0;

      @include tablet {
        flex-direction: column;

        img {
          width: 70%;
          margin-left: auto;
        }
      }

      &__name {
        font-weight: 400;
        font-size: 40px;
        color: $title;

        @include tablet {
          font-size: 32px;
          margin-bottom: 16px;
        }
      }

      &__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: $title;
        max-width: 456px;

        @include tablet {
          font-size: 16px;
          margin-bottom: 40px;
        }
      }
    }

    .divider {
      width: 96px;
      height: 0.5px;
      background-color: $title;
    }
  }

  .use-cases {
    &__title {
      font-weight: 400;
      font-size: 80px;
      line-height: 120%;
      margin-top: 180px;
      font-family: 'Spline Sans Mono', sans-serif;

      span {
        color: $link;
      }

      @include tablet {
        font-size: 48px;
        margin-top: 120px;
        margin-bottom: 70px;
      }
    }

    .use-case-wrap {
      &:nth-child(2n) {
        .reverse {
          flex-direction: row-reverse;
          @include tablet {
            flex-direction: column-reverse;
            margin-bottom: 60px;
          }
        }
      }

      .use-case {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;

        @include tablet {
          flex-direction: column-reverse;
          margin-bottom: 60px;
        }

        img.use-case-img {
          max-width: 40%;

          @include tablet {
            max-width: 100%;
            margin-bottom: 40px;
          }
        }

        &__content {
          max-width: 456px;
        }

        &__name {
          font-weight: 400;
          font-size: 40px;
          line-height: 140%;
          color: $title;
          margin-bottom: 24px;

          @include tablet {
            font-size: 32px;
            margin-bottom: 16px;
          }
        }

        &__description {
          font-weight: 400;
          font-size: 18px;
          line-height: 160%;
          color: $title;

          @include tablet {
            font-size: 16px;
          }
        }
      }
    }
  }

  .chart {
    margin-bottom: 200px;

    @include tablet {
      margin-bottom: 160px;
    }

    &__description {
      font-weight: 400;
      font-size: 32px;
      line-height: 140%;
      color: $title;
      max-width: 792px;
      margin: 120px auto;

      @include tablet {
        margin: 80px auto;
      }

      span {
        color: $link;
      }
    }

    img {
      margin: 0 auto;
    }
  }

  .feedback {
    &__heading {
      font-weight: 400;
      font-size: 80px;
      line-height: 120%;
      color: $title;
      margin-bottom: 80px;
      font-family: 'Spline Sans Mono', sans-serif;

      span {
        color: $link;
      }

      @include tablet {
        font-size: 48px;
        margin-bottom: 40px;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include tablet {
        flex-wrap: nowrap;
        overflow-x: auto;
        width: max-content;
      }
    }

    &__content {
      @include tablet {
        overflow-x: auto;
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
          display: none; /* Safari and Chrome */
        }

        width: calc(100% + 24px);
      }
    }

    &__item {
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0%) 0,
        rgba(34, 108, 255, 24%) 100%
      );
      border: 1px solid rgba(34, 108, 255, 24%);
      filter: drop-shadow(0 18px 24px rgba(136, 225, 220, 8%));
      backdrop-filter: blur(8px);
      border-radius: 40px;
      padding: 40px 25px;
      max-width: 31%;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: $title;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;

      @include tablet {
        width: 295px;
        margin-right: 24px;
      }
    }

    &__name {
      margin: 24px 0 8px;
    }
  }

  .get-start {
    margin: 160px 0;

    @include tablet {
      margin: 140px 0 120px;
    }

    &__heading {
      font-weight: 400;
      font-size: 80px;
      line-height: 120%;
      text-align: center;
      color: $title;
      margin-bottom: 60px;
      font-family: 'Spline Sans Mono', sans-serif;

      span {
        color: $link;
      }

      @include tablet {
        font-size: 48px;
        margin-bottom: 40px;
      }
    }

    &__description {
      font-weight: 400;
      font-size: 24px;
      line-height: 160%;
      text-align: center;
      color: $title;
      max-width: 744px;
      margin: 0 auto;

      @include tablet {
        font-size: 20px;
        margin-bottom: 40px;
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
      margin-top: 60px;

      @include tablet {
        margin-top: 40px;
      }
    }
  }

  .btn-primary {
    background: linear-gradient(225deg, #226cff 14.89%, #1084ff 85.85%);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 12px 24px;
    color: $title;
    font-family: 'Anderson Grotesk Bold', sans-serif;
    border: transparent;
  }

  color: $title;
}
